ansible
**/node_modules/
**/dist
**/.git
**/README.md
**/LICENSE
**/.idea
**/.vscode
**/npm-debug.log
**/.env
**/.editorconfig
**/.next
**/.prettierignore
**/.prettierrc.js
**/cypress.json
**/cypress
**/.github
**/.editorconfig
**/.eslintignore
**/.eslintrc.js